.App {
  text-align: center;
}

.square {
 background: #fff;
 border: 1px solid #999;
 font-size: 24px;
 font-weight: bold;
 line-height: 34px;
 width: 50px;
 height: 50px;
 margin-right: -1px;
 margin-top: -1px;
 padding: 0;
 text-align: center;
}

.whithe {
  color: #fff;
}

.bord {
  margin-top: 50px;
}

.win {
  font-size: 24px;
  color: green;
  font-weight: bold;
  line-height: 34px;
  margin-top: 30px;
}

.hidden {
  display: none;
}